@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-shadow-custom {
    text-shadow: theme('textShadow.custom');
  }
}

.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.bg-gradient-dark {
  background: linear-gradient(180deg, #101010 0%, #0b0b0b 100%);
}

.text-gradient-golden {
  background-image: linear-gradient(
    to right,
    rgba(125, 83, 23, 1),
    rgba(237, 223, 149, 1)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.banner-enter {
  opacity: 0;
  transform: translateY(-20px);
  transition:
    opacity 0.5s ease-out,
    transform 0.5s ease-out;
}

.banner-enter-active {
  opacity: 1;
  transform: translateY(0);
}
